@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	border: 0
}

*,
::after,
::before {
	box-sizing: border-box
}

/*----------*/

.hero-banner {
	font-family: "Merriweather", serif;
	position: relative;
	width: 100vw
}

.bottom-line {
	position: absolute;
	bottom: 0;
	height: 40px;
	background: #000;
	width: 100%;
	z-index: 15
}

.carousel-banner {
	height: 800px;
	width: 100%
}

.slider-ban-inner,
.slides-ban {
	height: 100%;
	width: 100%
}

.hero-banner .progress-bar {
	position: absolute;
	background: #fff;
	top: 0;
	left: 0;
	height: 5px;
	width: 100%
}

.hero-banner .post-active .progress-walk {
	width: 0;
	height: inherit;
	background-image: linear-gradient(45deg, #000 25%, #ffaa1c 25%, #ffaa1c 50%, #000 50%, #000 75%, #ffaa1c 75%, #ffaa1c 100%);
	background-size: 14.14px 14.14px;
	transition: all .05s
}

.slides-ban {
	position: relative;
	overflow: hidden
}

.slider-ban,
.slider-ban-image::before {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%
}

.slider-ban {
	top: 100%;
	right: 0;
	bottom: 0
}

.slider-ban-image,
.slider-ban-image img {
	width: 100%;
	height: 100%
}

.slider-ban-image img {
	display: block;
	object-fit: cover
}

.slider-ban-image::before {
	content: "";
	display: block;
	top: 0;
	background: rgba(0, 0, 0, .685)url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC)
}

.proposition-first {
	position: absolute;
	top: 55%;
	left: 0;
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	gap: 80px
}

.proposition-first .progress-walk,
.slider-ban-divider:before {
	position: absolute;
	top: 0;
	height: 5px;
	width: 100%
}

.proposition-bullet {
	background: #000;
	-webkit-transform: skewX(45deg);
	-ms-transform: skewX(45deg);
	transform: skewX(45deg);
	height: 180px;
	width: 435px
}

.bullet-text {
	margin-top: -30px
}

.bullet-text p {
	font-family: "Lora", serif;
	color: #d6d6d6;
	font-size: 16px;
	padding-left: 92px;
	padding-right: 30px
}

.bullet-text span,
.services-title h1,
.services-title p {
	text-transform: uppercase;
	font-family: "Merriweather", serif
}

.bullet-text span {
	position: relative;
	font-weight: 600;
	letter-spacing: 1.6px;
	color: silver;
	font-size: 22px;
	padding: 30px 0 0 50px
}

.post .bullet-text span::after,
.post-active .bullet-text span::after {
	position: absolute;
	display: block;
	content: "";
	top: 100%;
	left: -180px;
	opacity: 0;
	height: 1px;
	transition: 1000ms ease 2ms
}

.post-active .bullet-text span::after {
	left: 55px;
	opacity: 1;
	height: 3px;
	width: 200px;
	transform: skewX(45deg);
	background: silver;
	box-shadow: -1px -2px 20px 2px #ff7c00;
	transition: 1000ms ease 5ms
}

.bullet-content,
.bullet-icon {
	display: flex;
	align-items: center
}

.bullet-content {
	flex-direction: row;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	transform: skewX(-45deg)
}

.bullet-icon {
	position: absolute;
	left: -50px;
	justify-content: center;
	height: 100px;
	width: 100px;
	background: #02030a;
	border: 2px solid #ffbb02;
	outline: 5px solid #fff;
	outline-offset: 5px;
	transform: rotate(45deg);
	transition: all .2s;
	box-shadow: 0 0 20px 0#d7730b
}

@media (max-width:1800px) {
	.bullet-icon {
		left: -40px;
		height: 80px;
		width: 80px
	}
	.width-corect-3 {
		display: none;
	}
}

.bullet-icon .icon-bulet {
	color: #fbb72a;
	font-size: 50px;
	transform: rotate(-45deg)
}

.slider-ban-content {
	position: absolute;
	top: 25%;
	left: 6%;
	transform: translateY(-40%);
	color: #fff;
	width: 90%
}

.services-title {
	opacity: 0;
	position: absolute;
	top: calc(25% + 80px);
	left: -60%;
	transition: .5s ease-out
}

.services-title h1 span {
	display: block;
	white-space: pre;
	font-size: 30px;
	font-style: italic;
	text-transform: none;
	color: #fff
}

.services-title h1,
.services-title p {
	font-weight: 900;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
	color: #ffaa1c;
	font-size: 40px
}

.slider-ban-title {
	font-weight: 700;
	font-size: 42px;
	line-height: 1.25;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .5)
}

.slider-ban-divider {
	position: relative;
	height: 10px;
	width: 10px;
	background: #ffaa1c;
	outline: 2px solid #fff;
	outline-offset: .25vw;
	transform: rotate(-45deg);
	transition: all .9s
}

.slider-ban-divider:before {
	content: "";
	z-index: -1;
	top: 2.5px;
	left: -25px;
	width: 60px;
	background: #ffaa1c;
	-moz-transform: rotate(45deg) skew(-45deg, 0deg);
	-webkit-transform: rotate(45deg) skew(-45deg, 0deg);
	-o-transform: rotate(45deg) skew(-45deg, 0deg);
	-ms-transform: rotate(45deg) skew(-45deg, 0deg);
	transform: rotate(45deg) skew(-45deg, 0deg)
}

.information-inner {
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	align-items: center;
	top: 55%;
	gap: 45px;
	z-index: 2
}


.grid-hero-banner {
	opacity: .7;
	position: relative;
	padding: 16px 20px;
	transition: all .5s
}

.post-active {
	-moz-transform: translate(10px, -20px);
	-webkit-transform: translate(10px, -20px);
	-o-transform: translate(10px, -20px);
	-ms-transform: translate(10px, -20px);
	transform: translate(10px, -20px);
	opacity: 1;
	transition: all .5s
}

.slider-ban.slider-ban-act .slider-ban-title {
	opacity: 1;
	transform: translateY(0);
	transition: opacity .8s 1.42s, transform .5s 1.4s;
	width: 55%
}

.slider-ban.slider-ban-nact .slider-ban-title {
	transform: translateY(40px);
	opacity: 0;
	transition: transform .2s .35s, opacity .5s .2s;
	width: 55%
}

@media (max-width:1280px) {

	.slider-ban.slider-ban-act .slider-ban-title,
	.slider-ban.slider-ban-nact .slider-ban-title {
		width: 75%
	}
	.width-corect-2 {
		display: none;
	}
}

@media (max-width:992px) {
	.information-inner {
		justify-content: flex-start;
		gap: 0
	}
	.width-corect-1 {
		display: none;
	}

	.post {
		opacity: 1;
		position: relative;
		padding: 0
	}

	.post .proposition-bullet {
		opacity: 1;
		position: absolute;
		left: -1200px;
		bottom: -270px;
		transition: all 1s
	}

	.post-active .proposition-bullet {
		bottom: -270px;
		left: calc(50vw - 200px)
	}

	.post-active {
		transform: translate(0, 0)
	}

	.carousel-banner {
		height: 600px
	}

	.slider-ban-title {
		font-size: 32px
	}

	.services-title h1,
	.services-title p {
		font-size: 30px
	}

	.services-title {
		top: calc(25% + 65px)
	}
}

@media (max-width:720px) {
	.carousel-banner {
		height: 600px
	}

	.post-active {
		transform: translate(0, 0)
	}

	.slider-ban-title {
		font-size: 30px
	}

	.services-title h1,
	.services-title p {
		font-size: 28px
	}

	.services-title {
		top: calc(25% + 56px)
	}
}

@media (max-width:576px) {
	.post .proposition-bullet {
		height: 120px;
		bottom: -135px
	}

	.post-active .proposition-bullet {
		bottom: -135px;
		left: calc(50vw - 200px)
	}

	.bullet-icon {
		left: -20px;
		height: 40px;
		width: 40px
	}

	.bullet-icon .icon-bulet {
		font-size: 25px
	}

	.bullet-text {
		margin: 0
	}

	.bullet-text p {
		font-size: 14px;
		padding-left: 42px;
		padding-right: 9px
	}

	.slider-ban.slider-ban-act .slider-ban-title,
	.slider-ban.slider-ban-nact .slider-ban-title {
		width: 95%
	}

	.carousel-banner {
		height: 300px
	}

	.slider-ban-title {
		font-size: 20px
	}

	.services-title h1,
	.services-title h1 span,
	.services-title p {
		font-size: 18px
	}

	.services-title {
		top: calc(25% + 36px)
	}
}

@media (max-width:420px) {
	.bullet-text {
		margin: 0
	}

	.bullet-text span,
	.slider-ban-title {
		font-size: 18px
	}

	.services-title h1,
	.services-title h1 span,
	.services-title p {
		font-size: 16px
	}

	.services-title {
		top: calc(25% + 28px)
	}

	.bullet-text p {
		font-size: 14px;
		padding-left: 62px;
		padding-right: 50px
	}

	.bullet-icon {
		top: 28px;
		left: 20px;
		height: 20px;
		width: 20px;
		border: 1px solid #ffbb02;
		outline: 1px solid #fff;
		outline-offset: 3px
	}

	.bullet-icon .icon-bulet {
		font-size: 10px
	}
}

.slider-ban.slider-ban-act .slider-ban-divider {
	left: 1%;
	transition: all 1.9s
}

.slider-ban.slider-ban-nact .slider-ban-divider {
	left: -100%;
	transform: rotate(180deg);
	transition: all .9s
}

.slider-ban-act {
	top: 0;
	z-index: 1;
	transition: top .4s .4s ease-out
}

.slider-ban-nact {
	top: 100%;
	z-index: 0;
	transition: top .75s 2s
}

.slider-ban-act .services-title {
	opacity: 1;
	left: 6%;
	transition: 2s ease-in
}

.post:not(.post-active) {
	pointer-events: none
}

@media (min-width:2500px) {
	.slider-ban.slider-ban-act .slider-ban-title {
		width: 30%
	}
}
@media (min-width:2048px) {
	.slider-ban-content, .slider-ban-act .services-title {
		left: 30%;
		width: 77%;
	}
}
@media (min-width:3800px) {
	.slider-ban-content, .slider-ban-act .services-title {
		left: 30%;
		width: 80%;
	}
}