@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap);

* {
    padding: 0;
    margin: 0;
    border: 0
}

*,
::after,
::before {
    box-sizing: border-box
}

.table-grid-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    background: url(../img/back-metall-li.jpg), #000000d5;
    background-size: 120%;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    border-radius: 5px 0 5px 5px;
}

.table-grid-cont:before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    right: -5px;
    height: 25px;
    width: 25px;
    border-top: 1px solid #a1761e;
    border-right: 1px solid  #a1761e;
}

.table-grid-cont caption {
    padding-left: 15px;
}

.table-grid {
    z-index: 3;
    font-size: 15px;
    grid-gap: 1px;
    width: 100%;
    display: grid;
    grid-template-columns: 65% 20% 15%;
    grid-template-rows: 1fr;
    grid-template-areas: "thtd-1 thtd-2 thtd-3";
    justify-content: space-around;
    align-items: center;
    transition: 1.2s linear;
    will-change: transform;
}

.table-grid-cont tfoot tr{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.table-grid-cont tfoot tr td{
    padding: 10px 15px;
}
.thtd-1 {
    z-index: 3;
    grid-area: thtd-1;
    padding: 4px 15px;
}

.thtd-2 {
    grid-area: thtd-2;
    padding: 4px 15px;
    text-align: center;

}

.table-grid-cont tr {
    border-bottom: 1px solid#535353;
}

.thtd-3 {
    grid-area: thtd-3;
    padding: 4px 15px;
    text-align: center;

}

.table-header {
    margin-bottom: 10px;
    font-size: 15px;
    background: silver;
    color: #000;
    border-radius: 5px;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    box-shadow: 0 0 16px 5px #000;
}

@media (max-width: 450px) {
    .table-grid {
        font-size: 14px;
        grid-gap: 1px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "thtd-1 thtd-1" "thtd-2 thtd-3";
        justify-content: start;
        justify-items: start;
    }

    .table-header {
        position: absolute;
        left: -150%;
    }

    .thtd-1 {
        width: 100%;
        color: #000;
        background: silver;
        border-radius: 5px;
    }

    .table-grid-cont tr {
        border-bottom: none;
    }
    .table-grid-cont tfoot tr{
            justify-content: center;
    }
    .table-grid-cont tfoot tr td {
        padding: 0px 15px 5px;
    }
}

.table-grid-cont tbody tr {
    background: #00000057;
}

@media (min-width: 450px) {
    .table-grid-cont tbody tr:hover {
        border-radius: 5px;
        background: #160033;
        transition: 1.5s linear;
        color: #fff;
        -webkit-font-smoothing: subpixel-antialiased;
        -webkit-transform: translateZ(0) scale(1.05, 1.05);
        box-shadow: inset 0px 2px 16px 2px #000000, inset 0px -2px 16px 2px #000000;
    }
}
